*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: linear-gradient(to bottom, rgba(84, 25, 223, 0.829), rgb(207, 127, 7));
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  height: 10vh;
  color: rgb(238, 236, 231);
  font-weight: bold;
  font-size: 40px;
}
.return-button {
  padding: 8px 10px;
  border: black 1px solid;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(183, 25, 223), rgb(207, 127, 7));
  font-weight: bold;
   font-size: 15px;
   color: rgb(238, 236, 231);
  cursor: pointer
}

:root{
  --base-color: #fffafa; /* 60% */
  --primary-color: #673AB7; /* 30% (important areas) */
  --secondary-color: #FFEB3B; /* 10% (action areas) */
  --dark-color: #2c2c2c;
}

body{
  background-color: var(--primary-color);
}
main{
  width: 100vw;
  height: 100vh;
  background-image:
  repeating-linear-gradient(
    to right,
    transparent 0 50px,
    rgba(255, 255, 255, 0.363) 50px 51px
  ),
  repeating-linear-gradient(
    to bottom,
    transparent 0 50px,
    rgba(255, 255, 255, 0.363) 50px 51px
  );
  position: relative;
}

h1{
  margin: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: monospace;
  color: white;
  text-shadow: 8px 2px 2px black;
}

.note{
  width: 250px;
  height: 300px;
  background: white;
  border-radius: 12px;
  box-shadow: 2px 2px 1px black;
  position: absolute;
}

.noteHeader{
  border-bottom: 1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
}

.noteContent{
  height: 90%;
}

.noteHeader button{
  border: none;
  background: transparent;
  padding: 4px;
  margin-right: 4px;
  cursor: pointer;
}

textarea{
  resize: none;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 12px;
  padding: 8px;
}

textarea:focus{
  outline: none;
}

#newNoteContainer{
  background: white;
  width: fit-content;
  padding: 8px;
  border-radius: 12px;
  margin: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
}

#noteColor{
  height: 100%;
  aspect-ratio: 1 / 1;
  width: auto;
  border: 0;
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
}

#addButton{
  display: flex;
  border: none;
  background: none;
  cursor: pointer;
  font-size: large;
}

.delete{
  border-color: white;
  color: inherit;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.delete:hover {
  background-color: rgba(255, 255, 255, 0.747); 
}